set -x
# https://stackoverflow.com/a/7522866
if ! type "aws" >/dev/null; then
    # no aws; nothing to do
    true
elif [ ! -d ~/.aws ]; then
    # no aws directory .. better to leave well alone
    true
else
    host="${HOST}"
    if [ -z "${host}" ]; then
        host="$(hostname)"
    fi

    # only do this if it looks like we're on a zoopla box
    case $host in
        macbook.zoopla|Chisels-MacBook-Air.local|*.dev.uk|chisel-zpg.local|*.eu-west-1.compute.internal)
            # make sure the ~/.aws/config is up to date
            curl -so ~/.aws/config https://gitlab.zoopla.co.uk/infrastructure/wiki/-/raw/master/multiaccount/awscli_config.txt
            ;;
    esac
fi
